@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-page" >
    <header class="home-header">
    <h2 class="display-4">Welcome</h2> 
    <h1>Natural By Design</h1>
    </header>
    <div class="main-home">
        <section>
            <h2>About Us</h2>
            <p>Natural By Design (NBD) is a partnership that designs and develops 
                interior and exterior landscapes for hotels, restaurants, condominiums, 
                and large private estates. We use a mixture of commonly available plants, 
                flowers, and shrubs, and imported rare and exotic plants, pottery, and other materials <br /> <br /></p>
        </section>
        <section>
            <h2>Our Team</h2>
            <p>NBD employs twenty-five people. Keri Yamaguchi, a designer, manages 
                the artistic side of the business. Stan Fenton is the general manager 
                who manages the inventory and supervises the sales and financial activities.  <br /> <br />
            </p>
        </section>
    </div>
</div>
