@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-page" >
    <header class="home-header"> 
    <h1>Natural By Design</h1>
    </header>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div class="main-home">
                <div class="image-links">
                    <div class="image-container">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="Index"
                           data-bs-toggle="tooltip" title="Click to go to Client Page">
                            <img src="../images/customer1.png" alt="Client logo">
                            <span class="circle-name">Client</span>
                        </a>
                    </div>
                    <div class="image-container">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index"
                           data-bs-toggle="tooltip" title="Click to go to Project Page">
                            <img src="../images/project.webp" alt="Project log">
                            <span class="circle-name">Project</span>
                        </a>
                    </div>
                    <div class="image-container">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Bid" asp-action="Index"
                           data-bs-toggle="tooltip" title="Click to go to Bid Page">
                            <img src="../images/Bid.jpeg" alt="Iventory">
                            <span class="circle-name">Bid</span>
                        </a>
                    </div>
                </div>
                @{
                    if (User.IsInRole("Admin") || User.IsInRole("Designer") || User.IsInRole("Sales Associate"))
                    {
                        <div class="image-links">
                            <div class="image-container">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Lookup" asp-action="Index"
                                   data-bs-toggle="tooltip" title="Click to go to Lookup Page">
                                    <img src="../images/scope.png" alt="Link 3">
                                    <span class="circle-name">Lookup</span>
                                </a>
                            </div>
                            <div class="image-container">
                                <a href="#">
                                    <img src="../images/image.jpg" alt="Link 3">
                                </a>
                            </div>
                            <div class="image-container">
                                <a href="#">
                                    <img src="../images/image.jpg" alt="Link 3">
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="image-links">
                            <div class="image-container">
                                <a href="#">
                                    <img src="../images/image.jpg" alt="Link 3">
                                </a>
                            </div>
                            <div class="image-container">
                                <a href="#">
                                    <img src="../images/image.jpg" alt="Link 3">
                                </a>
                            </div>
                            <div class="image-container">
                                <a href="#">
                                    <img src="../images/image.jpg" alt="Link 3">
                                </a>
                            </div>
                        </div>
                    }
                }                

            </div>
        }
        else
        {
            <div class="image-links">
                <div class="image-container">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"
                       data-bs-toggle="tooltip" title="Click to Login">
                        <img src="../images/login.png" alt="Client logo">
                        <span class="circle-name">Login</span>
                    </a>
                </div>
            </div>
        }

    }
    
        
    </div>
</div>


@section Styles {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
}
@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $('#SearchClient').autocomplete({
            minLength: 1,
            source: '@Url.Action("GetClients", "Client")'
        });
    </script>
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}