@model NBD4.Models.Staff

<partial name="_ViewHeading" />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffFirstName" class="control-label">Staff First Name<span class="mandatory">*</span></label>
                <input asp-for="StaffFirstName" class="form-control" placeholder="Enter Staff First Name" />
                <span asp-validation-for="StaffFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMiddleName" class="control-label">Staff Middle Name</label>
                <input asp-for="StaffMiddleName" class="form-control" placeholder="Enter Staff Middle Name" />
                <span asp-validation-for="StaffMiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffLastName" class="control-label">Staff Last Name<span class="mandatory">*</span></label>
                <input asp-for="StaffLastName" class="form-control" placeholder="Enter Staff Last Name" />
                <span asp-validation-for="StaffLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email<span class="mandatory">*</span></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email e.g. johndoe@example.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Phone<span class="mandatory">*</span></label>
                <input asp-for="Phone" class="form-control" placeholder="Enter Phone Number (No Spaces)" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffRoleID" class="control-label">Staff Role<span class="mandatory">*</span></label>
                <select asp-for="StaffRoleID" class="form-control" asp-items="ViewBag.StaffRoleID">
                    <option value="0">Select Staff Role</option>
                </select>
                <span asp-validation-for="StaffRoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <partial name="_BackToList" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
