<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="LabourTypeInfo">Labour Types</h4>
    <div class="card-body">
        @Html.DropDownList("LabourTypeInfoID", null, htmlAttributes: new { @size = 6, @class = "form-control" })
    </div>
    @{
        if (User.IsInRole("Admin"))
        {
            <div class="card-footer">
                <a asp-controller="LabourTypeInfo" asp-action="Create">Create</a> |
                <a asp-controller="LabourTypeInfo" asp-action="Edit" class="linkClick">Edit</a> |
                <a asp-controller="LabourTypeInfo" asp-action="Delete" class="linkClick">Delete</a>
            </div>
        }
    }
    @* <div class="card-footer">
    <a asp-controller="LabourTypeInfo" asp-action="Create">Create</a> |
    <a asp-controller="LabourTypeInfo" asp-action="Edit" class="linkClick">Edit</a> |
    <a asp-controller="LabourTypeInfo" asp-action="Delete" class="linkClick">Delete</a>
    </div> *@
</div>