@model NBD4.Models.Project

<partial name="_ViewHeading" />

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Est.Project Start Date<span class="mandatory">*</span></label>
                <input asp-for="StartDate" class="form-control"  />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Est.Project Completion Date<span class="mandatory">*</span></label>
                <input asp-for="EndDate" class="form-control"  />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label">Project Site Name<span class="mandatory">*</span></label>
                <input asp-for="Site" class="form-control" placeholder="Enter Project Site Name" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Project Amount<span class="mandatory">*</span></label>
                <input asp-for="Amount" class="form-control" placeholder="Enter Project Amount" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label">Client<span class="mandatory">*</span></label>
                <input type="hidden" id="clientId" name="ClientID" />
                <input type="text" id="clientSearch" class="form-control" placeholder="Search for a client" />
                <div id="clientDropdown" class="dropdown-menu" aria-labelledby="clientSearch"></div>
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     <a href='@ViewData["returnURL"]'>Back to the @ViewData["ControllerName"] List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $(document).ready(function () {
            $('#clientDropdown').hide(); 
        });

        $('#clientSearch').click(function () {
            var searchString = $('#clientSearch').val();
            if (searchString === '') {
                $.ajax({
                    url: '/Project/GetClients',
                    type: 'GET',
                    data: { searchString: searchString },
                    success: function (data) {
                        var dropdown = $('#clientDropdown');
                        dropdown.empty();
                        $.each(data, function (key, entry) {
                            dropdown.append($('<a class="dropdown-item" href="#">').attr('data-id', entry.id).text(entry.name));
                        });
                        dropdown.show();
                    }
                });
            } else {
                $('#clientDropdown').show();
            }
        });

        $(document).click(function (e) {
            if (!$(e.target).closest('#clientSearch').length) {
                $('#clientDropdown').hide(); 
            }
        });

        $('#clientSearch').on('input', function () {
            var searchString = $(this).val();
            $.ajax({
                url: '/Project/GetClients',
                type: 'GET',
                data: { searchString: searchString },
                success: function (data) {
                    var dropdown = $('#clientDropdown');
                    dropdown.empty();
                    $.each(data, function (key, entry) {
                        dropdown.append($('<a class="dropdown-item" href="#">').attr('data-id', entry.id).text(entry.name));
                    });
                    dropdown.show();
                }
            });
        });

        $('#clientDropdown').on('click', '.dropdown-item', function () {
            var clientId = $(this).data('id');
            var clientName = $(this).text();
            $('#clientSearch').val(clientName);
            $('#clientId').val(clientId);
            $('#clientDropdown').hide(); 
        });

    </script>
}
