html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.mandatory {
    color: red;
}


body {
  margin-bottom: 60px;
}

nav .logo {
    margin-right: auto;
}



.form-group {
    margin-bottom: 1rem;
}

.red-option {
    color: red; /* Set text color to red */
}

/*.home-page {
    background-image: url('../images/design.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5%; 
    margin: 20px;
    height: calc(100vh - 40px);
}*/

/*.main-home {
    background: rgba(204,215,212, 0.8);
    border-radius: 15px;
    margin: 5%;
    
}*/
.home-header h1 {
    color: #096A2E; font-weight: bold;
}

.home-header h2 {
    color: #003366;
    font-weight: bold;
}
.main-home h2 {
    color: #243837;
}

.main-home h2, p {
    color: #243837;
    font-weight: bold;
}

.main-home p {
    font-size: 23px;
}

.image-links {
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.image-container {
    width: calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
}


    .image-container a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container img {
        border-style: solid;
        border-color: aquamarine;
        border-width: 10px;
        max-width: 100%;
        height: auto;
        max-width: 180px;
        max-height: 180px;
        border-radius: 50%;
        margin-top: 25px;
    }



.circle-name {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px 0;
    width: 130px;
    height: 35px;
    color: #fff;
    background-color: #3980FA;
    border: 1px solid #3980FA;
    border-radius: 5px;
    margin-top: 7px;
}


.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-10:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}