<!-- Modal-->
<div class="modal fade" id="addCityModal" tabindex="-1" role="dialog" aria-labelledby="CityModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CitymyModalLabel">Add New City</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                @{
                    var m = new NBD4.Models.City();
                    <partial name="_CityCreate" model="m" />
                }
            </div>
        </div>
    </div>
</div>