@model NBD4.Models.Client

<partial name="_ViewHeading" />

<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Client Name<span class="mandatory">*</span></label>
                <input asp-for="Name" class="form-control" placeholder="Enter client name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactFirstName" class="control-label">Contact First Name<span class="mandatory">*</span></label>
                <input asp-for="ContactFirstName" class="form-control" placeholder="Enter First Name" />
                <span asp-validation-for="ContactFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactMiddleName" class="control-label"></label>
                <input asp-for="ContactMiddleName" class="form-control" placeholder="Enter Middle Name" />
                <span asp-validation-for="ContactMiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactLastName" class="control-label">Contact Last Name<span class="mandatory">*</span></label>
                <input asp-for="ContactLastName" class="form-control" placeholder="Enter Last Name"/>
                <span asp-validation-for="ContactLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email<span class="mandatory">*</span></label>
                <input asp-for="Email" class="form-control" placeholder="Enter Email e.g. johndoe@example.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Phone" class="control-label">Phone <span class="mandatory">*</span></label>
                <input asp-for="Phone" class="form-control" placeholder="Enter Phone Number (No Spaces)" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Street" class="control-label">Street<span class="mandatory">*</span></label>
                <input asp-for="Street" class="form-control" placeholder="Enter Street Name"/>
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label">Postal Code<span class="mandatory">*</span></label>
                <input asp-for="PostalCode" class="form-control" placeholder="Enter Postal Code e.g. A1B1C1 (No spaces)"/>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Province<span class="mandatory">*</span></label>
                <select class="form-control" id="ProvinceID" name="ProvinceID" asp-items="ViewBag.ProvinceID">
                    <option value="0">Select Province</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="CityID" class="control-label">City<span class="mandatory">*</span></label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" id="nowAddCity" data-bs-toggle="modal" data-bs-target="#addCityModal" type="button">&#x2795;</button>
                    </div>
                    <select asp-for="CityID" class="form-control" asp-items="ViewBag.CityID">
                        <option value="0"><span class="mandatory">Select City</span></option>
                    </select>
                </div>
            </div>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
<partial name="_addCityModal" />


<div>
     <a href='@ViewData["returnURL"]'>Back to the @ViewData["ControllerName"] List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/refreshDDL.js"></script>
    <script>
        $('#ProvinceID').change(function () {
            var selectedProvince = $("#ProvinceID").val();
            var URL = "/Client/GetCities/?ProvinceID=" + selectedProvince;
            refreshDDL('CityID', URL, true, 'Select a Province with Cities first', false, null, true);
        });

        $('#ProvinceID').trigger('change'); 

        $('#addCityModal').on('hide.bs.modal', function () {
            var selectedProvince = $("#ProvinceID").val();
            var URL = "/Client/GetCities/?ProvinceID=" + selectedProvince;
            refreshDDL('CityID', URL, true, 'Select a Province with Cities first', false, null, true);
        });

        $('#submitCityCreate').click(function (event) {
            event.preventDefault();
            ClearErrors();
            var form = $('#createCityForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addCityModal').modal('hide');
                    },
                    error: function (xhr) {
                        var errorMessages = [];
                        switch (xhr.status) {
                            case 401:
                                errorMessages.push("You must be logged in first.");
                                break;
                            case 403:
                                errorMessages.push("You are not authorized for this action.");
                                break;
                            default:
                                errorMessages = xhr.responseText.split("|").slice(0, -1);
                        }
                        if (!errorMessages.some((str) => str !== "")) {
                            errorMessages.push("Error: Unable to complete operation");
                        }
                        var ul = document.getElementById("ErrorList");
                        for (var i = 0; i < errorMessages.length; i++) {
                            var errorMessage = errorMessages[i];
                            var li = document.createElement("li");
                            li.innerHTML = errorMessage;
                            ul.appendChild(li);
                        }
                    }
                });
            }
            return false;
        });

        $('#addCityModal').on('hide.bs.modal', function () {
            document.getElementById("createCityForm").reset();
            ClearErrors();
            var selectedOption = $('#CityID').val();
            //refreshDDL('CityID', '/Client/GetCities/' + selectedOption, false, null, true, 'None', true);
        });

        function ClearErrors() {
            var ul = document.getElementById("ErrorList");
            while (ul.firstChild) {
                ul.removeChild(ul.firstChild);
            }
        }
 
    </script>

}